<%= form_for(question) do |f| %>
  <div class="form-field form-field-close">
    <%= f.text_area :text, placeholder: "Question's text", class: "textarea-small" %>
  </div>
  <div>
    <%= f.submit "Create", class: "btn-small btn-right-align" %>
  </div>
<% end %>
