<%= form_for(question) do |f| %>
  <h1 class="form-header"> Questions Creator </h1>
  <div class="form-field form-field-close">
    <%= f.label :text, "Add a new question" %>
    <%= f.text_field :text, placeholder: "How would you rate your English?", class: "input-inline", required: true, maxLength: 60 %>
    <%= f.submit "Create", class: "btn-small btn-right-align submit-inline" %>
  </div>
  <div class="form-field-info">
    Following answers will be available:
    <span class="form-field-info-highlight">bad, ok, good, very good</span>
  </div>
<% end %>
