<%= link_to 'â† Back', admin_path, class: "link-return" %>
<div class="l-wrapper-narrow l-wrapper-margin-big">
  <h1>Questions Creator</h1>

  <div class="l-wrapper-margin-small">
    <%= render 'form', { question: question } %>
  </div>

  <div>
    <h2>Existing questions</h2>
    <ul class="question-list">
      <% questions.each do |question| %>
        <li class="question-list-item">
          <%= question.text %>
          <%= link_to 'Remove', question, method: :delete, data: { confirm: 'Are you sure?' }, class: "question-list-item-remove" %>
        </li>
      <% end %>
    <ul>
  </div>
</div>
