* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  color: $dark;
  position: relative;
  min-height: 100%;
  padding-bottom: $footer-height;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  font-size: $fs-text;
  line-height: $lh-text;
}

h1,
h2 {
  color: $rg-red;
  margin: 0;
}

h1 {
  font-size: $fs-heading;
  line-height: $lh-heading;
  font-weight: 700;
}

h2 {
  font-size: $fs-subheading;
  $line-height: $lh-subheading;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: $rg-red;

  &:hover,
  &:focus,
  &:active {
    color: lighten($rg-red, 10);
    text-decoration: underline;
  }
}
