%wrapper {
  position: relative;
  width: 95%;
  margin: 0 auto;
}

.l-wrapper {
  @extend %wrapper;
  max-width: 1200px;
}

.l-wrapper-medium {
  @extend %wrapper;
  max-width: 900px;
}

.l-wrapper-narrow {
  @extend %wrapper;
  max-width: 600px;
}

.l-wrapper-margin-small {
  margin: 2*$bs1 auto;
}

.l-wrapper-margin-big {
  margin: 3*$bs1 auto;
}

.l-wrapper-narrow-left {

  @include media($medium-screen, $big-screen) {
    left: 50%;
    transform: translateX(-50%);
    margin-left: -($rating-widget-width/2);
  }
}
