// Breakpoints

$tablet: 768px;
$desktop: 1024px;
$medium-screen: 1200px;
$big-screen: 1550px;
$very-big-screen: 2000px;

// Sizes - Modular Scale with perfect fifth ratio

$bs-4: 0.198rem;
$bs-3: 0.296rem;
$bs-2: 0.444rem;
$bs-1: 0.667rem;

$baseline: 1rem;

$bs1: 1.5rem;
$bs2: 2.25rem;
$bs3: 3.375rem;
$bs4: 5.063rem;
$bs5: 7.59em;

// Font sizes

$fs0: 1rem;
$fs1: 1.125rem;
$fs2: 1.5rem;
$fs3: 1.8rem;

// Colors

$rg-red: #e66571;
$rg-navy: #132a49;

$grey-super-light: #eee;
$grey-light: #ccc;
$grey-dark: #333;
$grey-default: #999;

$pink-300: #fbecf0;
$pink-500: #e4adbb;
$purple-500: #775279;
$pink-opaque: rgba(218, 158, 163, 0.32);

// Misc

$footer-height: $bs3;
$event-url-prefix-w:  $bs4;
$rating-widget-width: 350px;
