.l-static-container-whole {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  img {
    max-width: 100%;
  }
}

.l-static-container {
  position: relative;
  width: 100%;
  text-align: center;

  .btn-small {
    margin: 0 auto;
  }

  @include media($tablet) {
    background: center $bs3 no-repeat;
  }
}

.applications-page {
  background-color: $bg;
}

.login-page,
.closed-page {
  background: image-url("cover.svg") top center no-repeat;
  background-size: 100% auto;
  padding-top: 400px;
}

.invitation-page {
  padding-top: $baseline;
}

.soon-page {
  padding: 1rem;
  text-align: center;

  h1 {
    text-shadow: 1px 1px $basic-shadow;
  }

  img {
    display: inline-block;
    margin-bottom: 3rem;
    max-width: 400px;
  }

  @include media($tablet) {
    padding-top: 3rem;
  }
}

.privacy-policy {
  padding: 3rem 1rem 1rem;

  @include media($desktop) {
    padding: 3rem 9rem;
  }
}
