.header-image {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  padding-top: 1.5rem;

  @include media($tablet) {
    float: right;
    max-width: 50%;
    padding: 7rem 2rem 0 0;
  }
}

.info-box {
  display: inline-block;
  width: 100%;
  padding: 3rem 3rem 2rem;

  @include media($tablet) {
    padding: 50px 46px 2rem;
    max-width: 50%;
  }
}

.info-title-small {
  font-size: $fs-subheading;
  line-height: $lh-subheading;
  color: $rg-red;
}

.info-title-big {
  color: $dark;
  font-size: $fs-heading;
  line-height: $lh-heading;
  font-weight: 700;
}

.info-list {
  margin: 2rem 0 0;
  padding: 0;
  list-style: none;
}

.info-list-item {
  margin: 0 0 1rem;

  > a {
    margin-bottom: 1rem;
  }
}

.info-list-item-label {
  color: transparentize($dark, 0.5);
}

.application-form {
  background-color: white;
  padding: 0 1rem 1rem;

  @include media($desktop) {
    padding: 0 9rem 3rem;
  }
}
