.l-submission-single {
  @include clearfix();
  margin-top: $bs1;

  @include media($tablet) {
    margin-top: $bs3;
  }
}

.submission-header {
  @include clearfix;
  margin-bottom: $bs1;
  word-break: break-all;
  line-height: $bs3;
  font-size: $bs1;

  @include media($desktop) {
    font-size: $bs2;
  }
}

.submission-header-status {
  float: right;
  font-weight: 100;
}

.submission-answer {
  padding: $bs1 $bs2;
  margin: 0;
  border-bottom: 1px solid #ccc;
  overflow-wrap: break-word;
  word-wrap: break-word;

  &:nth-of-type(even) {
    background: #f0f0f0;
  }

  .submission-answer-label {
    display: block;
    font-weight: 700;
  }

  @include media($tablet) {
    text-align: right;
    padding: $bs1;

    .submission-answer-label {
      float: left;
      margin-right: $bs-2;
    }
  }
}

.submission-answer-block {
  text-align: left;

  .submission-answer-label {
    display: block;
    float: none;
  }
}

.submission-codecademy-status-container {
  text-align: left;
}

.submission-codecademy-status-text {
  margin-right: $bs-2;
  color: $grey-default;
  font-style: italic;
}

.submission-codecademy-status-form {
  display: inline-block;
}

.submission-codecademy-status-indicator {
  @include appearance(none);
  @include transform(translateY(-$bs-4));
  display: inline-block;
  width: $baseline;
  height: $baseline;
  padding: 0;
  margin-right: $bs-2;
  border-radius: 50%;
  border: none;
  background-size: 100%;
  font-size: 0.1em;
  color: transparent;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;

  &.completed {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABtElEQVRIx7VWu0oDQRQdJAQr8QOChaWFWIiFhV/gRl3BSoRoNhGxFJH9ET9gsZAtJNmkEMwX+CGLiIhsEYKEeO56Byez78gsXJLcx7mPc2c2QuQ8F/3mequ370JGkBAyZQlZ55KPqPowsM9gswIhH790ovOedYqAiIPHEA86ux0crN28tOok9J10ZGMf8o0otgj8VqnsEVU1SnTbIF8ZRxh5lcct4/tV1bFSjBxpohOeecTGyuBaknhcc5wwofFYFgVXsOS4fLV6am1cZuaJqvvWDkhf1Tgh4qdxF7znlNFbAHyXR/vaDg5XlC48xnQFHxiavV21csR9MdBDd3i8pHBhs34k+FTOaLd1EEepSgPfRsyn5A3gNdVOWGwLhVwtOkCqE+a3QQ6o5loD34L+QxLZDeyaXgBhyZXPTADgjnJ47n7Bm5v4/c76p87gKAGeliBzRAC+/LuPrHt8vnFgAPC6yHj0EeWSDP0Z7N/KFTJ0gmzwNJIL1xQBJ7BPIM8gfrlow+bWtOxBA7l7zqAYPHHQOKO5q4Kzmr3s2GjuulaczL1wtE7MvDI1Tsy89FMS/etvyw8kpRGtoMLqFQAAAABJRU5ErkJggg==);
  }

  &.incompleted {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAByklEQVRIx7VWvW7CMBD2xAOgCFVV1YGBQDdI1jIzM/cJ+gAdeB2mipEZIR4giqoqCTwBD8DAhNI7+4x/ajvQKpFOJPbdd3ff3dkwFnjKUdov48miHIw3IEeQC8mRr+Ee6LB7n3KY9AFgRWB1g1y4LtjcBh5P3sDgRMZnkCWszcuX9Hk/nXVQ8J2v4Z7QqbkN2DaBf2iRfUL6T40BgQ7XlXaAEYpcpBxP3u+mFWyulNqZEOcn2rwb3HIi6NJrQgXltMi1YpgM4HsNFHS9gMPkEXR28DvQsCRdK8lhn1I765zD95YUM5cTAj+QztqqyZljYgtTn6PS0gFQ0V4OypECSR60vayyAqDuQroXjIYIP+a/O8QA+kInIPpaXrmyEy2M+xtGU1ljbzt5FoAFGXxr705wboNzInSOTLbW/nXW8RZzlPYIvNaz8ekjlmx55WAadBBZDgrMzOtgajpooijiESuK5HuFNbqFokCR0y7vIBV1jxzmVyfQbeEi+9pUgGcqWkWJ5fhgOzHb1D9o6xAVlRnATnNuDhqB+Y6KrYsCw0kMgYSOCr7Y9mFHm+0d15pSexeOlYn7yoQJ5VP61yvTqkk7l76V/r//tvwAcWwqc78JcI8AAAAASUVORK5CYII=);
  }
}

.submission-rating-form {
  margin-bottom: $bs1;
  padding-bottom: $bs1;
  border-bottom: 2px solid $rg-red;
  line-height: $bs3;

  > * {
    vertical-align: middle;
  }
}

.submission-rates {
  margin-top: $bs1;
  text-align: left;
  padding-bottom: $bs1;
  border-bottom: 2px solid $rg-red;
}

.submission-rate {
  margin-bottom: $bs-1;
}

.submission-rate-author {
  font-weight: bold;
}

.submission-rate-value {
  padding-left: $bs-2;
  color: $rg-red;
}

.submission-rate-avg {
  display: block;
  margin-top: $bs1;
  text-align: right;
}

.submission-rate-avg-number {
  color: $rg-red;
}

.submission-navigation {
  @include transform(translateY(-50%));
  position: fixed;
  display: block;
  width: 100%;
  left: 0;
  top: 60%;
  pointer-events: none;
  z-index: 2;

  @media screen and (min-width: $big-screen) {
    top: 50%;
  }
}

.link-prev,
.link-next {
  display: block;
  background-color: white;
  font-size: $bs1;
  width: $bs2;
  height: $bs2;
  line-height: 1.25;
  border: 2px solid $rg-red;
  border-radius: 50%;
  text-align: center;
  will-change: background-color, color;
  pointer-events: auto;

  &:hover,
  &:active,
  &:focus {
    transition: all .3s;
    text-decoration: none;
    background-color: $rg-red;
    color: white;
  }

  @media screen and (min-width: $big-screen) {
    font-size: $bs2;
    width: $bs3;
    height: $bs3;
    line-height: 1.1;
  }
}

.link-prev {
  float: left;
  margin-left: $bs-2;

  @include media($medium-screen, $big-screen) {
    margin-left: $bs2;
  }

  @include media($big-screen) {
    margin-left: $bs3;
  }
}

.link-next {
  float: right;
  margin-right: $bs-2;

  @include media($medium-screen, $big-screen) {
    margin-right: $bs2;
  }

  @include media($big-screen) {
    margin-right: $bs3;
  }
}

.submission-comments {
  height: 70%;
  width: calc(100% + #{$bs1});
  margin-top: $bs1;
  padding-right: $bs1;
  text-align: left;
  overflow-y: auto;
}

.submission-comment {
  text-align: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.submission-comment-author {
  font-weight: bold;
}

.submission-comment-date {
  color: $grey-default;
}