.header-image {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  padding-top: 1.5rem;

  @include media($tablet) {
    float: right;
    max-width: 50%;
    padding: 5rem 3rem 0 0;
  }

  @include media($desktop) {
    padding-right: 3.5em;
  }
}

.info-box {
  display: inline-block;
  width: 100%;
  padding: 3rem 3rem 2rem;

  @include media($tablet) {
    padding: 50px 46px 2rem;
    max-width: 50%;
  }
}

.info-title-small {
  font-size: $fs-subheading;
  line-height: $lh-subheading;
  color: $rg-red;
}

.info-title-big {
  color: $dark;
  font-size: $fs-heading;
  line-height: $lh-heading;
  font-weight: 700;
}

.info-list {
  margin: 2rem 0 0;
  padding: 0;
  list-style: none;
  font-size: $fs1;
}

.info-list-item {
  line-height: 1.6;
  margin: 0 0 0.5rem;

  &:before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 0.6rem 0 0;
    vertical-align: top;
    background: image-url("icons-info.svg") left top no-repeat;
    background-size: auto 100%;
  }

  &:nth-of-type(1):before {
    background-position: 0 0;
  }
  &:nth-of-type(2):before {
    background-position: -35px 0;
  }
  &:nth-of-type(3):before {
    background-position: -70px 0;
  }
}

.application-form {
  background-color: white;
  padding: 0 1rem 1rem;

  @include media($desktop) {
    padding: 0 9rem 3rem;
  }
}
