.thanks {
  padding: 3rem 1rem;
  text-align: center;
  width: 95%;
  margin: 2rem auto;
  background-color: white;
  box-shadow: 0 0 30px $basic-shadow;

  @include media($tablet) {
    padding: 3rem 2rem;
  }

  img {
    max-width: 100%;
    max-width: 300px;
    margin: 0 0 2rem;
  }

  h1 {
    color: $rg-red;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .small-text {
    display: block;
    font-size: $fs1;
    line-height: 1.4;
  }
}
