<% content_for :title, 'Rails Girls Krak贸w Privacy Policy' %>

<div class="l-wrapper-medium application-form">
  <h1 class="form-header">Privacy Policy</h1>
  <p>
    As the organizers of Rails Girls Krak贸w, we need to collect and store information you submit as
    a part of your application in order to conduct the workshop. That includes choosing the
    attendees who will take part in the workshop from the submitted applications as well as being
    able to contact the chosen attendees and make sure they have everything they need during the
    workshop itself.
  </p>

  <p>
    The data processing is done on the basis of the consent you grant us when submitting the form
    (Art. 6 (1)(a) GDPR). You can
    <%= mail_to 'railsgirlskrakow@gmail.com', 'contact us' %>
    at any time if you wish to revoke that consent or if
    you have any other request regarding your data. If you find any issue with our policy, please
    contact us and remember about your right to submit a complaint to a&nbsp;supervisory authority.
  </p>


  <p>
    Your submission will be removed completely from our servers within a week after the event ends.
    We do not send your data to any 3rd party and the only people who have access to it are the
    Rails Girls Krak贸w organizers. If you're chosen to attend the workshop, we might share your
    basic information (name, occupation and skill levels) with your mentor.
  </p>

  <p>
    Rails Girls Krak贸w team
    <br>
    <%= mail_to 'railsgirlskrakow@gmail.com' %>
  </p>
</div>
