<div class="form-error-box">
  <h2 class="form-error-header"><%= pluralize(submission.errors.count, "field") %> need to be corrected</h2>
  <ul class="form-error-list">

  <% submission.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  
  <% answers.each do |a| %>
    <% a.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>

  </ul>
</div>
