<div class="l-wrapper l-wrapper-medium">
  <article class="l-static-container closed-page">
    <p>Registration is now closed.</p>
    <a href="http://railsgirls.com" class="btn">Check the Rails Girls website</a>
  </article>
</div>
