<div class="l-wrapper l-wrapper-narrow">
  <article class="l-static-container invitation-page">
    <%= image_tag 'fb.png', alt: "" %>
    <h1> Success!</h1>
    <p> The invitation is confirmed, you are going to our event!</p>
     <a href="http://railsgirls.com" class="btn-small">Check Rails Girls website</a>
  </article>
</div>