<div class="l-wrapper l-wrapper-narrow">
  <article class="l-static-container invitation-page">
    <%= image_tag 'fb.png', alt: "" %>
    <h1> Ooops!</h1>
    <p> The invitation has expired and you no longer can take part in the event! Sorry!</p>
     <a href="http://railsgirls.com" class="btn-small">Check Rails Girls website</a>
  </article>
</div>