<div class="pattern-wrapper">
	<div class="header-image"><%= image_tag 'cover.png' %></div>
	<div class="l-wrapper-narrow">
	  <%= render 'form', { submission: submission, answers: answers, show_errors: show_errors } %>

	  <%= link_to "#{footer_presenter.event_url}", "http://#{footer_presenter.event_url}", target: "_blank",
	      class: "form-aside-link", title: "Rails Girls Kraków website" %>
	</div>
</div>