<div class="hero-section">
  <div class="hero-section-content l-wrapper-medium">
    <div class="info-box">
      <h1 class="info-title">
        <span class="info-title-small">Rails Girls Kraków</span>
        <span class="info-title-big">Get excited and learn to build the web</span>
      </h1>
      <ul class="info-list">
        <li class="info-list-item"> 29-30 June 2018 </li>
        <li class="info-list-item"> KPT, Podole 60, Kraków</li>
        <li class="info-list-item"><a href="http://www.railsgirls.com/krakow" rel="noopener">railsgirls.com/krakow</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="l-wrapper-medium application-form">
  <%= render 'form', { submission: submission, answers: answers, show_errors: show_errors, footer_presenter: footer_presenter } %>
</div>
