<% content_for :title, 'Apply for Rails Girls Kraków' %>

<div class="l-wrapper-medium l-wrapper--white">
  <%= image_tag "RubyHeader.svg", alt: "Girl coding in Ruby on Rails", class: "header-image" %>
  <div class="info-box">
    <h1 class="info-title-small">Rails Girls Kraków</h2>
    <h2 class="info-title-big">Get excited and learn to&nbsp;build the&nbsp;web</h2>
    <ul class="info-list">
      <li class="info-list-item">
        <div class="info-list-item-label">When:</div>
        <strong><%= setting_presenter.first_day %>,</strong> Friday evening
        <br>
        <strong><%= setting_presenter.second_day %>,</strong> Saturday full day
      </li>
      <li class="info-list-item">
        <div class="info-list-item-label">Where:</div>
        Zendesk Office, Kraków
      </li>
      <li class="info-list-item">
        <div class="info-list-item-label">More info:</div>
        <a href="http://www.railsgirls.com/krakow" rel="noopener" target="_blank">railsgirls.com/krakow</a>
        <a href="https://www.facebook.com/RailsGirlsKrakow" rel="noopener" target="_blank">facebook.com/RailsGirlsKrakow</a>
      </li>
    </ul>
  </div>
  <div class="application-form">
    <%= render 'form', { submission: submission, answers: answers, show_errors: show_errors, setting_presenter: setting_presenter } %>
  </div>
</div>
