.aside-widget {
  @include clearfix();
  text-align: center;
  margin: $bs2 auto;

  @include media($big-screen) {
    width: 300px;
  }
}

.aside-widget-fixed {

  @include media($big-screen) {
    position: fixed;
    right: 10%;
    top: 2 * $bs2;
  }
}

.aside-widget-rating {

  @include media($medium-screen) {
    position: fixed;
    top: $bs2+$bs3;
    right: $bs1;
    margin: 0 auto $bs2;
  }

  @include media($big-screen) {
    position: absolute;
    right: -400px;
  }
}

.aside-widget-dashboard {
  width: 200px;

  @include media($big-screen) {
    margin-top: $bs2+$bs3;
    right: 0;
  }

  @include media($very-big-screen) {
    right: 10%;
  }
}

.aside-widget-text {
  display: block;
  color: $rg-red;
  font-size: $baseline;

  @include media($big-screen) {
    font-size: $bs1;
    font-weight: 400;
  }
}

.aside-widget-header {
  margin-bottom: $bs-1;
}