.aside-widget {
  @include clearfix();
  text-align: center;
  margin: $bs2 auto;

  @include media($big-screen) {
    width: 300px;
  }
}

.aside-widget-rating {

  @include media($medium-screen) {
    position: absolute;
    top: $bs2+$bs3;
    right: -($rating-widget-width);
    width: $rating-widget-width;
    margin: 0 auto $bs2;
    padding-left: $bs3;
  }
}

.aside-widget-dashboard {
  width: 200px;

  @include media($big-screen) {
    margin-top: $bs2+$bs3;
    right: 0;
  }

  @include media($very-big-screen) {
    right: 10%;
  }
}

.aside-widget-text {
  display: block;
  color: $rg-red;
  font-size: $bs1;
  font-weight: 400;
}

.aside-widget-header {
  margin-bottom: $bs-1;
}