.btn {
  @include appearance(none);
  display: inline-block;
  padding: $baseline $bs1;
  background-color: $rg-red;
  border: none;
  font-size: $baseline;
  color: white;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    transition: background-color .4s;
    background-color: lighten($rg-red, 10);
    color: white;
    text-decoration: none;
  }
}

.btn-small {
  @extend .btn;
  padding: $baseline/2 $baseline;
}

.btn-right-align {
  float: right;
}

.btn-space-left {
  margin-left: $bs1;
}

.btn-space-right {
  margin-right: $bs1;
}

.link-return {
  display: block;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  &:after {
    display: inline;
    content: " to all submissions";
  }

  @include media($desktop) {
    position: fixed;
    line-height: $bs3;
    text-decoration: none;

    &:after {
      display: none;
    }
  }

  @include media($big-screen) {
    left: 10%;
    line-height: $bs2;

    &:after {
      display: inline;
    }
  }
}

.btn-emails {
  position: absolute;
  top: 0;
  right: 0;

  @include media ($tablet) {
    top: $bs2;
  }
}