footer {
  position: absolute;
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;
  vertical-align: middle;
  left: 0;
  bottom: 0;
  text-align: center;
  color: $pink-500;
  font-weight: 700;
  text-shadow: 1px 1px white;
}
