$input-height: $bs2;

.form {
  margin: 2 * $input-height 0;
}

.form-centered {
  text-align: center;
}

.form-header {
  text-align: center;
  margin-bottom: 2 * $input-height;
}

.form-field {
  @include clearfix();
  margin-bottom: $input-height;

  &:last-of-type {
    margin-bottom: $bs4;
  }

  > label,
  > legend {
    display: block;
    margin-bottom: $bs-2;
    color: $rg-navy;
    font-weight: 700;
  }

  textarea,
  input[type="text"],
  input[type="email"],
  input[type="search"],
  input[type="number"],
  input[type="date"] {
    width: 100%;
    display: block;
    padding: 0 $bs-1;
    border: 1px solid $grey-light;
    font-size: inherit;

    &:focus {
      outline: none;
      border: 1px solid $rg-navy;
    }

    &.event-url-field {
      padding-left: $event-url-prefix-w;
    }

    &.input-inline {

      @include media($desktop) {
        width: 80%;
        display: inline-block;
      }
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="search"],
  input[type="number"],
  input[type="date"] {
    line-height: $input-height;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin-right: $bs-1;
  }

  input[type="submit"] {
    display: block;
    margin: $bs1 auto;

    &.submit-inline {
      margin: 0;
      font-size: $bs1/2;
    }
  }

  textarea {
    height: 8 * $input-height;
    padding: $bs-3 $bs-1;
    resize: none;
  }

  .textarea-small {
    height: 2 * $input-height;
  }
}

.form-field-collection {
  padding: 0;
  border: none;

  div {
    padding-left: $bs1;
    line-height: $bs1;
  }

  label {
    vertical-align: middle;
  }
}

.form-field-boolean {
  border-top: 1px dotted $rg-navy;
  border-bottom: 1px dotted $rg-navy;
  padding: $baseline 0;

  label {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
  }
}

.form-field-close {
  margin-bottom: $input-height/2;
}

.fieldset-inline {
  display: inline-block !important;
  color: $grey-default;
}

.form-field-info {
  position: relative;
  padding-left: $bs3;

  &:before {
    @include transform(translateY(-50%));
    display: block;
    position: absolute;
    width: $bs1;
    height: $bs1;
    top: 50%;
    left: $bs-1;
    content: 'i';
    color: $rg-red;
    font-family: serif;
    font-style: italic;
    text-align: center;
    border: 2px solid;
    border-radius: 50%;
  }
}

.form-field-info-highlight {
  display: block;
  font-style: italic;
  color: $grey-dark;
}

/* styles for event url field */

.event-url-prefix {
  position: absolute;
  text-align: center;
  margin-top: 1px;
  margin-left: 1px;
  padding: 0 $bs-1;
  line-height: $input-height;
  color: $grey-default;
  background-color: $grey-super-light;
}

/* styles for errors in forms */

.form-error-box {
  margin: $bs1 0;
  padding: 0 $bs1;
  border: 1px dotted $rg-red;
}

.form-error-header {
  text-align: center;
}

.form-error-list {
  padding-left: $bs2;
  list-style-type: square;
}

.field_with_errors {

  label {
    color: $rg-red;
  }

  textarea,
  input[type="text"],
  input[type="email"],
  input[type="search"],
  input[type="number"] {
    border: 1px solid $rg-red;

    &:focus {
      border: 1px solid $rg-red;
    }
  }
}

/* styles for character counter */

.character-counter {
  float: right;
  color: $grey-default;
}

.tooltip-text {
  visibility: hidden;
  text-align: justify;
  background-color: $rg-navy;
  color: $grey-super-light;
  display: block;
  pointer-events: all;
  z-index: 1;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;

  @include media($desktop) {
  position: absolute;
  left: 105%;
  margin-top: -20%;
  width: 300px;
  }
}

.tooltip-arrow{
  visibility: hidden;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid $rg-navy;
  position: absolute;
  z-index: 1;
  left: 103.5%;
  margin-top: -30px;
  margin-left: -1px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

.with-tooltip:focus + .tooltip-text {
  visibility: visible;
  opacity: 1;
  padding: 15px;
  height: auto;
  margin-top: 5%;
  @include media($desktop) {
    margin-top: -20%;
  }
}

.tooltip-text:hover {
  visibility: visible;
  opacity: 1;
  padding: 15px;
  height: auto;
  margin-top: 5%;
  @include media($desktop) {
    margin-top: -20%;
  }
}

.with-tooltip:focus ~ .tooltip-arrow {
  @include media($desktop) {
    visibility: visible;
    opacity: 1;
  }
}

.tooltip-text:hover + .tooltip-arrow {
  @include media($desktop) {
    visibility: visible;
    opacity: 1;
  }
}
