<h3>You're invited to the Rails Girls workshop!</h3>
<p>
  <%= link_to "Confirm your invitation.", submissions_confirm_url(confirmation_token: @token) %>
  This link expires in one week.
</p>
<p>
  <strong>Where?</strong>
</p>
<p>
  <strong>When?</strong>
</p>
<p>
  If you have any questions, contact us:
</p>
