<header>
  <%= link_to 'Home', admin_path, method: :get, class: "btn-small btn-nav" %>

  <button id="btn-menu" class="btn-small btn-nav">Menu</button>
  <div id="menu" class="header-menu">
    <%= link_to 'Settings', settings_path, method: :get, class: "btn-small btn-nav" %>
    <%= link_to 'Questions', questions_path, method: :get, class: "btn-small btn-nav" %>
    <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn-small btn-nav" %>
  </div>
</header>
