<%= yield %>
<p>If you have any questions, don't hesitate and contact us: <%= mail_to Rails.application.secrets.contact_email %></p>
<p> With love, </br>
Rails Girls Kraków Team</p>

<a href="https://twitter.com/railsgirls_krk">follow on Twitter</a>
<a href="https://www.facebook.com/RailsGirlsKrakow/">friend on Facebook</a>

<span>Copyright &copy; 2017 Rails Girls Krakow, All rights reserved.</span>
