<%= yield %>

<a href="https://twitter.com/railsgirls_krk">follow on Twitter</a>
<a href="https://www.facebook.com/RailsGirlsKrakow/">friend on Facebook</a>

<span>Copyright &copy; 2017 Rails Girls Krakow, All rights reserved.</span>
